/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
.htaccess
index.php
.env.copy
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
